/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/ font-family: "Poppins",
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: url(../assets/img/imagenfondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    justify-content: center;
    background-color: rgb(223, 221, 221);
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

header p {
    font-style: italic;
    margin-bottom: 15px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    background-color: #939193;
    text-align: center;
    gap: 10px

}

nav ul li {
    display: inline;
    margin: 020px;
}


nav ul li a {
    text-decoration: none;
    color: rgb(10, 9, 10);
    font-weight: bold;
}

nav ul li a:hover {
    color: #f6f4f9;
}

main {
    text-decoration: none ;
    text-align: center;
    max-width: 1000px;
    width: 100%;
}
main h2 { 
    font-size: 1,5rem;
    font-weight: bold;
    margin-bottom: 15px;

}
.section {
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(199, 197, 197);
    margin-bottom: 50px;
    border-bottom: 1px solid;

}

.section-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    flex-wrap: wrap;
}

.image {
    position: relative;
    width: 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image span {
    position: absolute;
    color: #2a2b2b;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5s);
}

.dorm-image {
    background-image: url(../assets/habitacion\ foto.jpg);
}

.living-image {
    background-image: url(../assets/img/cocina\ y\ living\ foto.jpg);
}

.deco-image {
    background-image: url(../assets/img/florero\ deco.jpg);
}

.section-item p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #2a2b2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #535253;
}

.productos-list {
    color: #333;
    S text-decoration: none;
}

h1 {

    text-align: center;
    background-color: rgb(199, 197, 197);
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: none;
}

h2 {
    color: #050505;
    text-align: center;
    background-color: rgb(199, 197, 197);
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: none;
}

h3 {
    color: #050505;
    text-align: center;
    background-color: rgb(199, 197, 197);
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: none;
}

h4 {
    color: #050505;

    text-align: center;
    background-color: rgb(199, 197, 197);
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: none;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #050505;
    text-decoration: none;
    background-color: rgb(199, 197, 197);
    font-size: 1.2em;
    margin-bottom: 20px;
    text-decoration:none;
}


.secciones-list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

.secciones-list li {
    display: flex;
    font-size: 1.2em;
}

.productos-destacados {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
    justify-items: center;
    justify-content: center;
}

.producto {
    max-width: 250px;
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
}

.producto p {
    margin: 10px 0;
    font-weight: bold;
    color: #050505;
    text-decoration: navajowhite;
}

.producto img {
    width: 100%;
    height: 200px;
    ;
    object-fit: cover;
    border-radius: 8px;
}

.comprar-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: beige;
    border: none;
    color: azure;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: backgroud-color 0.3 ease;
    text-decoration: none;

}

.comprar-btn:hover {
    background-color: #f6f4f9;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 100px;
    width: 100%;
}

.container {
    max-width: 100px;
    width: 100%;
}

.product-section {
    margin-bottom: 30px;
    text-align: center;
}

.product-section h2 {
    font-size: 1.5 rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    text-align: center;

}

.product-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-item p {
    font-size: 1rem;
    color: #575c57;

}

footer{
    text-align: center;
    margin-top:  40px;
 
}
footer .info h2{  
font-size: 1.5 rem;
margin-bottom:10px ;

} 

footer .contact-info{
    list-style: none;
    padding: 0;
    font-size: 1rem;


}

footer .contact-info li{
    margin-bottom: 8px;


}
.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #575c57;
    color: rgb(164, 139, 156);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #eaf5ea;
}


.contact-info {
    background-color: #909190;
    list-style: none;
    margin-top: 20px;
}

.contact-info li {
    margin-bottom: 10px;
    text-align: center;
}

.contact-info a {
    color: #0c0c0c;
    text-decoration: none;
}

.contact-info a:hover {
    color: #6f1346;
    text-decoration: none;
}


@media  {max-width: ;
    
}